*{margin:0; padding:0;}
::-webkit-scrollbar {width: 12px; height: 12px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {display: none;}
::-webkit-scrollbar-track-piece  {background-color: #222;}
::-webkit-scrollbar-thumb:vertical {background-color: #111;}

html{background-color:black; background-image:url(../../007/PROJECT2017_wp-6_1920x1080.jpg); background-repeat:no-repeat; background-position: center; background-attachment: fixed;}
#body{width:98%; height:3000px; margin:auto; margin-top:50px; margin-bottom:50px; background-color:rgba(0,0,0,0.95); border-radius:5px;}
#title{width:100%; text-align:center; font-family:allien; text-shadow:0 0 9px #E39E0A,0 0 16px #D37104; color:#DDCE7C; margin-top:50px; font-size: 42px;}
/*Primeira Faixa*/
#primeira-faixa{height:auto; width:100%;}

/*Arquivos CSS*/
#files-links{width:35%; height:40px; background-color:rgba(149,135,8, 0.90); border:2px #F8FF00 solid; position:absolute; display:block; top:250px; left:6%; text-align: center;}
.title-files-links{font-family:allien; text-shadow:0 0 0px #000; color:#333; font-size:32px; margin-top:6px; cursor: pointer;}
#arquivos-ul {display:none;}
#arquivos-ul li {width:100%; height:40px; background-image:linear-gradient(#CC0, #CC0); font-family:allien; padding:auto; border-bottom:solid 2px #AA0; text-align: left; cursor: pointer;}
#arquivos-ul li:hover {background-image:linear-gradient(#DD0, #DD0)}
#arquivos-ul a {text-decoration:none; list-style:none;}
#arquivos-ul li p {font-family:Arial; font-size:26px; color:#000; float:left; margin-top:7px; margin-left:2%;}
#arquivos-ul li img {width:30px; height:30px; margin-top:5px; margin-left:18%; float:left;}

/*Logs CSS*/
#logs-site{width:35%; height:40px; background-color:rgba(149,135,8, 0.90); border:2px #F8FF00 solid; position:absolute; display:block; top:250px; right:6%; text-align: center;}
.title-logs-site{font-family:allien; text-shadow:0 0 0px #000; color:#333; font-size:32px; margin-top:6px; cursor: pointer;}
#logs-ul {display:none;}
#logs-ul li {width:100%; height:40px; background-image:linear-gradient(#CC0, #CC0); font-family:allien; padding:auto; border-bottom:solid 2px #AA0; text-align: left;}
#logs-ul li p{font-family:Arial; font-size:26px; color:#000; float:left; margin-top:7px; margin-left:2%;}
#logs-ul li img {width:20px; height:20px; margin-top:10px; margin-left:5%; float:left;}
.log-teste {cursor:pointer;}
.log-teste h3 {font-family:allien; font-size:32px; font-weight: bolder; text-align: center; padding-top:6px;}

/*Adicionar TFT champ CSS*/
#tft-add-comp{width:88%; height:40px; background-color:rgba(149,135,8, 0.90); border:2px #F8FF00 solid; position:absolute; margin-top:180px; left:6%; text-align: center;}

#comp-all{margin-left:6%; display: none;}

#compName{width:50%; height:30px; margin-left:1%; display:none;}
#compName h2{text-align:left; font-family:Beaufort, Arial;}
#compName input{width:15%; height:35px; position:absolute; top:38px; left:10.2%; padding-left:5px; background-color:rgba(175,175,0, 0); border:none;}
#compName input{text-align:left; font-family:Beaufort, Arial; font-size:22px; font-weight: bold;}
#compName input:focus{box-shadow:0 0 0 0; border:0 none; outline:0;}

.title-tft-add-comp{font-family:allien; text-shadow:0 0 0px #000; color:#333; font-size:32px; margin-top:6px; cursor: pointer;}

.comp{width:298px; height:128px; background-color:#948B0C; margin-left:3%; margin-top:20px; border:1px #F7E600 solid; float:left;}
.comp img {width:255px; height:128px; border-right:1px #F7E600 solid; float:left; cursor:pointer;}
.comp .imgTier {width:90px; height:18px; float:left; border:none; position:absolute; margin-left:-57px;}

.itensComp {width:42px; height:128px; background-color:#F7E600; float:left;}
.itensComp img {width:42px; height:42px; margin-bottom:1px;}

#sendComp{width:15%; height:40px; border:1px #F8FF00 solid; background-color:#AA9F11; position:absolute; bottom:10px; right:1%; display:none;}
#sendComp{font-family:allien; font-size:32px; font-weight: bolder; text-align:center; padding-top:6px; cursor:pointer;}
#sendComp:hover{box-shadow:1px 1px 5px #000;}

.selectChamp {width:88%; height:450px; background-color:rgba(0, 0, 0, 0.8); position:absolute; top:327px; margin-left:1.5px; left:6%; display:none; overflow:auto; }
.selectChamp::-webkit-scrollbar-thumb:vertical { background-color:#948B0C;}
.selectChamp::-webkit-scrollbar{width:5px; height:5px;}
#marginSelectChamp {margin-top:20px; margin-left:55px;}
.selectChamp img {width:145px; float:left; margin-left:10px; margin-bottom:10px; }
.selectChamp img:hover {box-shadow:3px 3px 10px #000; cursor:pointer;}
.selectChamp .imgMoldura {height:73px; margin-left:-145px;}
.selectChamp .imgOrigin {width:18px; height:18px; margin-left:-138px; margin-top:50px;}
.selectChamp .imgClass {width:18px; height:18px; margin-left:-118px; margin-top:50px;}
.selectChamp .imgOrigin2 {width:18px; height:18px; margin-left:-98px; margin-top:50px;}

#selectItens{width:82%; height:420px; background-color:rgba(0, 0, 0, 0.8); position:absolute; top:327px; margin-left:1.5px; left:6%; padding-left:3%; padding-right:3%; padding-top:30px; display:none;}
#selectItens img{width:64px; height:64px; margin-left:20px; margin-top:20px; border:1px #FF0 solid;}
#selectItens img:hover{box-shadow:0px 0px 10px #FF0; cursor:pointer;}